
        *{
            margin: 0px;
            padding: 0px;
        }
        #footer{
            /* border: 1px solid ; */
            width: 100%;
            height: 712px;
            background-color: #000000;
            /* padding: 0px 20px 0px 20px; */
        }
        .footer-container{
            /* border: 1px solid red; */
            width: 80%;
            height: 100%;
            margin: auto;
        }
        .footer-company-logo{
            /* border: 1px solid blue; */
            width: 100%;
            height: 20%;
        }
        .footer-company-logo>div{
            /* border: 1px solid green; */
            margin: auto;
            height: 100%;
            width: 14%;
            display: block;
        }
        .footer-company-logo>div>img{
            height: 100%;
            width: 100%;
        }
        .footer-reachout-links{
            /* border: 1px solid green; */
            width: 100%;
            height: 8%;
            margin-bottom: 20px;
        }
        .footer-reachout-links>div{
            margin: auto;
            width: 30%;
            height: 100%;
            /* border: 1px solid red; */
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .footer-reachout-links>div>div{
            /* border: 1px solid teal; */
            width: 10%;
            height: 60%;
            display: flex;
            /* align-items: center; */
            justify-content: center;
        }
        .footer-reachout-links>div>div>a{
            display: block;
            /* padding: 5px 5px 5px 5px; */
        }
        .footer-reachout-links>div>div>a>img{
            width: 80%;
            height: 80%;
        }
        .footer-signup-app{
            width: 100%;
            height: 20%;
            /* border: 1px solid green; */
            display: flex;
        }
        .footer-signup-app>div{
            /* border: 1px solid red; */
            height: 100%;
            width: 50%;
            /* display: flex; */
        }
        .footer-signup-app>div>h5{
            color: #FFFFFF;
            font-size: 19px;
            margin: 15px 0px 20px 0px;
            height: 20%;
            font-family: 'Poppins', sans-serif;
            /* border: 1px solid blue; */
        }
        .footer-signup-app>div>div{
            /* margin-top: 20px; */
            height: 30%;
            /* border: 1px solid white; */
            display: flex;
            padding: 0px;
        }
        .footer-signup-app>div>div>input{
            height: 100%;
            width: 50%;
            color: #FFFFFF;
            background-color: transparent;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            border: none;
            border-bottom-style: groove;
        }
        .footer-signup-app-button{
            /* border: 1px solid blue; */
            width: 20%;
            /* display: flex; */
        }
        .footer-signup-app-button>button{
            color: #FFFFFF;
            background-color: #fc2779;
            font: 20px;
            font-family: 'Poppins', sans-serif;
            padding: 5px 13px 5px 13px;
            border-radius: 5px;
            border: 2px solid #fc2779;
            width: 100%;
            height: 100%;
            /* margin: 0px 4px 0px 4px; */
        }
        #footer-para{
            color: #999999;
            font: 16px;
            width: 35%;
            height: auto;
            font-family: 'Poppins', sans-serif;
            /* border: 1px solid yellow; */
        }
        #footer-play-store{
            /* border: 1px solid blue; */
            width: 1fr;
            height: 100%;
            margin-right: 5px;
            margin-left: 5px;
            display: block;
        }
        #footer-apple-store{
            /* border: 1px solid red; */
            width: 1fr;
            height: 100%;
            display: block;
        }
        #footer-play-store>a>img{
            width: 100%;
            height: 50%;
        }
        #footer-apple-store>a>img{
            width: 100%;
            height: 50%;
        }
        .footer-information{
            /* border: 1px solid pink; */
            width: 100%;
            height: 100px;
        }
        .footer-information>div:nth-child(1){
            /* border: 1px solid white; */
            height: 30%;
        }
        .footer-information>div>h5{
            color: #FFFFFF;
            font-size: 19px;
            font-family: 'Poppins', sans-serif;
            margin: 0px 0px 8px;   
        }
        .footer-information>div:nth-child(2){
            /* border: 1px solid blue; */
            height: auto;
            display: flex;
            margin-top: 25px;
        }
        .footer-information>div:nth-child(2)>div{
            /* border: 1px solid orange; */
            width: 15%;
        }
        .footer-information>div:nth-child(2)>div:nth-child(2){
            /* border: 1px solid orange; */
            width: 25%;
        }
        .footer-information>div:nth-child(2)>div>a{
            color: #999999;
            font: 16px;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
        }
        .footer-information>div:nth-child(2)>div>a:hover{
            color: #FFFFFF;
            text-decoration: underline;
        }
        .footer-get-in-touch{
            /* border: 1px solid white; */
            margin-top: 10px;
        }
        .footer-get-in-touch>div>h5{
            color: #FFFFFF;
            font-size: 19px;
            font-family: 'Poppins', sans-serif;
            margin: 0px 0px 8px;
        }
        .footer-get-in-touch>div{
            display: flex;
            justify-content: space-between;
        }
        .footer-get-in-touch-box1{
            /* border: 1px solid blue; */
        }
        .footer-get-in-touch-box1>div{
            display: flex;
            margin-bottom: 5px;
        }
        .footer-get-in-touch-box1>div>div{
            color: #FFFFFF;
            font: 16px;
            font-family: 'Poppins', sans-serif;
            margin-left: 8px;
        }
        .footer-get-in-touch-box1>a{
            color: #999999;
            font: 16px;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
        }
        .footer-get-in-touch-box1>a:hover{
            color: #FFFFFF;
            text-decoration: underline;
        }
        .footer-get-in-touch-box1>a+div{
            color: #808080;
            font-size: 12px;
            font-family: 'Poppins', sans-serif;
        }
        .footer-get-in-touch-box2{
            /* border: 1px solid red; */
        }
        .footer-get-in-touch-box2>div{
            color: #FFFFFF;
            font: 16px;
            font-family: 'Poppins', sans-serif;
        }
        .footer-get-in-touch-box2>a{
            color: #999999;
            font: 16px;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
        }
        .footer-get-in-touch-box2>a:hover{
            color: #FFFFFF;
            text-decoration: underline;
        }
        .footer-get-in-touch-box3{
            /* border: 1px solid wheat; */
        }
        .footer-get-in-touch-box3>div{
            color: #FFFFFF;
            font: 16px;
            font-family: 'Poppins', sans-serif;
        }
        .footer-get-in-touch-box3>a{
            color: #999999;
            font: 16px;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
        }
        .footer-get-in-touch-box3>a:hover{
            color: #FFFFFF;
            text-decoration: underline;
        }
        .footer-get-in-touch-box4{
            /* border: 1px solid green; */
        }
        .footer-get-in-touch-box4>div{
            color: #FFFFFF;
            font: 16px;
            font-family: 'Poppins', sans-serif;
        }
        .footer-get-in-touch-box4>a{
            color: #999999;
            font: 16px;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
        }
        .footer-get-in-touch-box4>a:hover{
            color: #FFFFFF;
            text-decoration: underline;
        }
        .footer-get-in-touch-box5{
            /* border: 1px solid pink; */
        }
        .footer-get-in-touch-box5>div{
            color: #FFFFFF;
            font: 16px;
            font-family: 'Poppins', sans-serif;
        }
        .footer-get-in-touch-box5>a{
            color: #999999;
            font: 16px;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
        }
        .footer-get-in-touch-box5>a:hover{
            color: #FFFFFF;
            text-decoration: underline;
        }
        .footer-container>hr{
            margin-top: 48px;
            margin-bottom: 24px;
        }
        .footer-container>hr+div{
            color: #FFFFFF;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }
